.main-header .logo .logo-lg img, .main-header .logo .logo-mini img {
	width: 50px;
	height: 50px;
}
.login-box, .register-box {
	margin: 2% auto;
}
.login-logo, .register-logo {
	margin-bottom: 0px;
}
.login-logo img.img-login, .register-logo .img-login {
    width: 160px;
    height: 160px;
}
.message.error, .message.success {
	padding: 5px 10px;
	margin: 0px 5px 5px 5px;
	background-color: rgba(60, 63, 72, 0.2);
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div .img-circle {
    margin: auto 10px auto auto;
    text-align: center;
    background-color: #333;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    font-size: 16px;
    padding-top: 7px;
}
.map #map, .map #map-history {
    height: 500px;
    text-align: center;
    padding-top: 20px;
}
small.keys {
	font-family: serif;
	float: right;
}
small.keys span, small.keys b {
	margin-right: 10px;
}